*{
    margin: 0;
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.white-font{
    color: rgb(0, 243, 0);
}
header{
    background-image: url(../images/Banner.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
       
}
header h3{
    font-size: 45px;
    letter-spacing: 4px;    
}
header h4{    
    font-size: 30px;
    letter-spacing: 2px;    
}
.header-text{
    padding-top: 180px;
}
.offers{
    text-align: center;
 
}
.red-font{
    color: red;
    font-size: 70px;
}
.title-font{
    font-size: 60px;
}
.subtitle-font{
    font-size: 30px;  
    color: #FF0000; 
}
.m-50{
    margin-bottom: 50px;
}
.welcome{
    background-image: url(../images/Group\ 70.png), url(../images/Vectorrr.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-position: bottom right, center;
    
}


