.open-sans-style{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.white-font{
    color: white;
}
header{
    background-image: url(../images/Banner.png);
    height: 50vh;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 900;        
}
header h3{
    font-size: 45px;
    letter-spacing: 4px;    
}
header h4{    
    font-size: 30px;
    letter-spacing: 2px;    
}
.header-text{
    padding-top: 120px;
}

